</head>

<body class="bg-light">
  <header>

    <nav style="position: fixed; z-index: 2;">
      <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-p btn-dark" href="#"
          onclick="Utils.ocultarFormulario('.page-wrapper', 'toggled');">
          <i class="fas fa-bars"></i>
        </a>
        <div id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="#">Fazenda Utopia</a>
              <div id="close-sidebar" onclick="Utils.exibirFormulario('.page-wrapper', 'toggled');">
                <i class="fas fa-times"></i>
              </div>
            </div>
            <div class="sidebar-header">
              <div class="user-pic">
                <img class="img-responsive img-rounded"
                  src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                  alt="User picture">
              </div>
              <div class="user-info">
                <span class="user-name">Guilherme
                  <strong>Britto</strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                  <i class="fa fa-circle"></i>
                  <span>Online</span>
                </span>
              </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-menu">
              <ul>
                <li class="header-menu">
                  <span>Produtos</span>
                </li>
                <li class="">
                  <a href="/admin/categoria-produtos">
                    <i class="fa fa-tachometer-alt"></i>
                    <span>Categ. de produtos</span>
                  </a>
                </li>
                <li class="">
                  <a href="/admin/unidades-medida">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Unid. de medida</span>
                  </a>
                </li>
                <li class="">
                  <a href="/admin/produtos">
                    <i class="far fa-gem"></i>
                    <span>Produtos</span>
                  </a>
                </li>
                <li class="">
                  <a href="/admin/Fornecedores">
                    <i class="fa fa-chart-line"></i>
                    <span>Fornecedores</span>
                  </a>
                </li>
                <li class="header-menu">
                  <span>Cestas</span>
                </li>
                <li class="">
                  <a href="/admin/categoria-cestas">
                    <i class="fa fa-tachometer-alt"></i>
                    <span>Categ. de cestas</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/cestas">
                    <i class="fa fa-book"></i>
                    <span>Cestas</span>
                  </a>
                </li>
                <li class="header-menu">
                  <span>Geral</span>
                </li>
                <li>
                  <a href="/admin/regioes">
                    <i class="fa fa-book"></i>
                    <span>Regiões</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/lojas">
                    <i class="fa fa-book"></i>
                    <span>Lojas</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/tabela-frete">
                    <i class="fa fa-book"></i>
                    <span>Tabela de frete</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Clientes</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Planos de assinatura</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/pedidos-provisorio">
                    <i class="fa fa-book"></i>
                    <span>Pedidos</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- sidebar-menu  -->
          </div>
          <!-- sidebar-content  -->
          <div class="sidebar-footer">
            <a href="#">
              <i class="fa fa-bell"></i>
              <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
              <i class="fa fa-envelope"></i>
              <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
              <i class="fa fa-cog"></i>
              <span class="badge-sonar"></span>
            </a>
            <a href="#">
              <i class="fa fa-home"></i>
            </a>
          </div>
        </div>
        <!-- sidebar-wrapper  -->
    </nav>
  </header>