<header id="gtco-header" class="gtco-cover gtco-cover-lite" role="banner"
  style="background-image: url(../images/images/banner_contact.jpg)">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="row row-mt-10em">
          <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
            <span class="intro-text-small">Confirme seu
              <a href="/" target="_blank">pedido</a>
            </span>
            <h1 class="cursive-font">Carrinho</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>