<section style="width: 100vw; height: 10vh; background-color:rgb(100, 143, 101) ;">
  
</section>
<section class="container" style="background-color: #ededed;" id="sessao-perfil">
  <div class="perfil-user-ul-li"
  style="width: 90vw;border: 2px solid darkolivegreen; padding: 2vh; margin: 2vh 0; border-radius: 7px; background-color: white;">
  <div style="max-width: 18rem; width: 100vw; ">
    <div class="card-header">Perfil</div>
    <div class="card-body text-dark">
      <form action="">
        <div class="form-group" style="width: 80vw;">
          <label for="">Nome</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        </div>
        
        <div class="form-group" style="width: 80vw;">
          <label for="">Telefone</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        </div>
        
        <div class="form-group" style="width: 80vw;">
          <label for="">Cep</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group" style="width: 80vw;">
          <label for="">Endereço/Complemento</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Rua vai quem quer, 50, Ap10 Bloco 8">
        </div>
        
        <div class="form-group" style="width: 80vw;">
          <label for="">Cidade</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        </div>
        
        <div class="form-group" style="width: 80vw;">
          <label for="">Bairro</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        </div>

        <div class="form-group" style="width: 80vw;">
          <label for="">Estado</label>
          <select class="form-control" name="" id="">
            <option>GO</option>
            <option>SP</option>
            <option>DF</option>
          </select>
        </div>

        <div class="form-group" style="width: 80vw;">
          <label for="">Região</label>
          <select class="form-control" name="" id="">
            <option>GO</option>
            <option>SP</option>
            <option>DF</option>
          </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Salvar" style="width: 80vw;">
      </form>
    </div>
  </div>
</div>
</section>