<section style="width: 100vw; height: 10vh; background-color:rgb(100, 143, 101) ;">

</section>
<section class="container" style="background-color: #ededed;" id="sessao-perfil">
  <ul class="perfil-user-ul" style="list-style: none; width: 100vw; margin: 0; padding: 0;">
    <li class="perfil-user-ul-li" style="width: 90vw;border: 2px solid darkolivegreen; 
    padding: 2vh; margin: 2vh 0; border-radius: 7px; background-color: white;" onclick="location.href='/cesta-selecionada/1'">

      <div style="max-width: 18rem; width: 100vw; ">
        <div class="card-header" style="width: 80vw; font-weight: bold; text-transform: uppercase;">Pedido 001</div>
        <div class="card-body text-dark" style="width: 80vw;">
          <h4 class="card-title" style="padding: 0; margin: 0; color: darkgreen;">Cesta de Legumes ...</h4>
          <p style="padding: 0; margin: 0; font-size: 13px;">10/10/2020 18:00</p>
          <p style="padding: 0; margin: 0; text-align: right;">Em aberto</p>
        </div>
      </div>
    </li>

 <li class="perfil-user-ul-li" style="width: 90vw;border: 2px solid darkolivegreen; 
    padding: 2vh; margin: 2vh 0; border-radius: 7px; background-color: white;"
   onclick="location.href='/cesta-selecionada/1'">

   <div style="max-width: 18rem; width: 100vw; ">
     <div class="card-header" style="width: 80vw; font-weight: bold; text-transform: uppercase;">Pedido 002</div>
     <div class="card-body text-dark" style="width: 80vw;">
       <h4 class="card-title" style="padding: 0; margin: 0; color: darkgreen;">Cesta de Legumes ...</h4>
       <p style="padding: 0; margin: 0; font-size: 13px;">10/10/2020 18:00</p>
       <p style="padding: 0; margin: 0; text-align: right;">Em preparação</p>
     </div>
   </div>
 </li>
    
   <li class="perfil-user-ul-li" style="width: 90vw;border: 2px solid darkolivegreen; 
    padding: 2vh; margin: 2vh 0; border-radius: 7px; background-color: white;"
     onclick="location.href='/cesta-selecionada/1'">

     <div style="max-width: 18rem; width: 100vw; ">
       <div class="card-header" style="width: 80vw; font-weight: bold; text-transform: uppercase;">Pedido 003</div>
       <div class="card-body text-dark" style="width: 80vw;">
         <h4 class="card-title" style="padding: 0; margin: 0; color: darkgreen;">Cesta de Legumes ...</h4>
         <p style="padding: 0; margin: 0; font-size: 13px;">10/10/2020 18:00</p>
         <p style="padding: 0; margin: 0; text-align: right;">Concluído</p>
       </div>
     </div>
   </li>

  </ul>
</section>