	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">

			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo">
						<a href="/"><img src="../../../images/images/logo-marca.png" alt="logo" style="width: 40px;">
							<em></em>
						</a>
					</div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li>
							<a href="/index">Home</a>
						</li>
						<li>
							<a href="/cestas">Cestas</a>
						</li>
						<li>
							<a href="/contact">Contato</a>
						</li>
						<li>
							<a href="/login">Login</a>
						</li>
						<li class="btn-cta">
							<a href="/carrinho">
								<span><i class="fas fa-shopping-cart"></i>
									<span id="cart-value" class="hidden"
										style="color: white; border: none; margin:0 0.2em; padding: 0 0.2em; background-color: red;"><strong>5</strong>
									</span>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</nav>