	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2 class="cursive-font">Nossos Serviços</h2>
					<p>Toda semana você receberá cestas recheadas de acordo com a colheita prevista de cada produtor. Nesta opção
						você
						pode trocar até 5 dos alimentos orgânicos.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fas fa-shopping-basket"></i>
						</span>
						<h3>Cestas Prontas</h3>
						<p>Toda semana você receberá cestas recheadas de acordo com a colheita prevista de cada produtor. Nesta
							opção você pode trocar até 5 dos alimentos orgânicos.
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fas fa-carrot"></i>
						</span>
						<h3>Personalize</h3>
						<p>Nesta opção você monta a sua cesta de acordo com o seu gosto e necessidade. Inclui quantos itens desejar.
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fas fa-truck"></i>
						</span>
						<h3>Frequência</h3>
						<p>Na Fazenda Utopia você tem a opção de fazer pedidos avulsos ou fazer parte do nosso clube.
							Assinatens recebem suas cestas em casa com a frequência desejada.</p>
					</div>
				</div>
			</div>
		</div>
	</div>