<section style="width: 100vw; height: 10vh; background-color:rgb(100, 143, 101) ;">

</section>
<section class="container" style="background-color: #ededed;" id="sessao-perfil">
  <ul class="perfil-user-ul" style="list-style: none; width: 100vw; margin: 0; padding: 0;">
    <li class="perfil-user-ul-li" style="width: 90vw;border: 2px solid darkolivegreen; 
    padding: 2vh; margin: 2vh 0; border-radius: 7px; background-color: white;" onclick="location.href='/dados'">
      <div style="max-width: 18rem; width: 100vw; ">
        <div class="card-header" style="font-weight: bold; text-transform: uppercase;">Perfil</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Clique para ver ou editar seus dados pessoais</h5>
        </div>
      </div>
    </li>
    <li class="perfil-user-ul-li"
      style="width: 90vw;border: 2px solid darkolivegreen; padding: 2vh; margin: 2vh 0; border-radius: 7px;
      background-color: white;" onclick="location.href='/meus-pedidos'">
      <div style="max-width: 18rem;">
        <div class="card-header" style="font-weight: bold; text-transform: uppercase;">Pedidos</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Clique para ver detalhes de seus pedidos</h5>
        </div>
      </div>
    </li>
    <li class="perfil-user-ul-li"
      style="width: 90vw;border: 2px solid darkolivegreen; padding: 2vh; margin: 2vh 0; border-radius: 7px;
      background-color: white;">
      <div style="max-width: 18rem;">
        <div class="card-header" style="font-weight: bold; text-transform: uppercase;">Assinaturas</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Clique para ver suas assinaturas</h5>
        </div>
      </div>
    </li>
  </ul>
</section>