<main>
  <!-------------------------------------------------------------------------------------------------->
  <!--TABELA LISTA DE CESTAS-->
  <section class="container list-itens-container table-responsive-md">
    <div class="navbar navbar-light">
      <h6 class="navbar-brand">
        Lista de Clientes
      </h6>
    </div>

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <%inscricoes.forEach(function(insc){ %>
        <tr>
          <td><%=insc.email%></td>
          <td>
            <%=insc.data_inscricao.getDate()%>/<%=insc.data_inscricao.getMonth()+1%>/<%=insc.data_inscricao.getFullYear()%>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </section>
</main>