<main>
  <!-------------------------------------------------------------------------------------------------->
  <!--TABELA LISTA DE CESTAS-->
  <section class="container list-itens-container table-responsive-md">
    <div class="navbar navbar-light">
      <h6 class="navbar-brand">
        Lista de Inscritos
        <a style="text-decoration: none; cursor: pointer; padding-left: 2vw; font-size: 16px; font-weight: 500; color: darkgreen;" id="btn-export">
          <i class="far fa-file-excel"></i>
          Exportar
        </a>
      </h6>
    </div>
    
    <table class="table table-hover table-bordered" id="inscricoes-table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <%inscricoes.forEach(function(insc){ %>
          <tr>
            <td><%=insc.email%></td>
            <td>
              <%=insc.data_inscricao%>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </section>
  </main>
  
  
  <script>
    const BTNEXPORT = document.querySelector("#btn-export");
    
    BTNEXPORT.addEventListener('click', function () {
      exportarParaExcel('inscricoes-table', 'inscricoes');
    });
    
    var exportarParaExcel = (function () {
      var uri = 'data:application/vnd.ms-excel;charset=UTF-8;base64,',
      template =
      '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta charset="utf-8" /><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
      base64 = function (s) {
        return window.btoa(unescape(encodeURIComponent(s)))
      },
      format = function (s, c) {
        return s.replace(/{(\w+)}/g, function (m, p) {
          return c[p];
        })
      }
      return function (table, name) {
        if (!table.nodeType) table = document.getElementById(table)
        var ctx = {
          worksheet: name || 'Worksheet',
          table: table.innerHTML
        }
        window.location.href = uri + base64(format(template, ctx))
      }
    })()
  </script>