.formulario {
  margin: 2em auto;
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.09);
}

.botao-salvar {
  margin: 2em 0;
}

.list-itens-container {
  background-color: white;
  margin-top: 1em;
  padding-bottom: 4em;
}

td .btn-editar,
td .btn-excluir {
  display: inline-block;
  margin: 0 0.2em;
  padding: 0 1em;

}

td .btn-excluir {
  font-size: .98em;
  padding: 0 1.2em;
  color: rgb(148, 1, 1);
}

.col-small {
  width: 2em;
}


.display-none {
  display: none;
}