<%- include("./../admin/inc/head") -%>

<link rel="stylesheet" href="../stylesheets/sidebar.css">
<link rel="stylesheet" href="../stylesheets/barra-superior-header.css">
<link rel="stylesheet" href="../stylesheets/footer.css">
<title>Fretes</title>
<link href="../images/images/favicon.png" rel="shortcut icon" type="image/png" />
<link rel="stylesheet" href="../stylesheets/menu.css">
<link rel="stylesheet" href="../stylesheets/dashboard.css">
<script src="../javascripts/util/Utils.js"></script>

<%- include("./../admin/inc/header") -%>
<%- include("./../admin/content/dashboard") -%>
<%- include("./../admin/inc/footer") -%>