<!DOCTYPE html>
<html>

  <head class="background-dark">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin - Fazenda Utopia</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="author" content="Alessandro L. Menezes" />
    <link rel="stylesheet" href="./../stylesheets/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Google Font -->
  </head>

  <body class="background-dark">
    <!-- /.login-logo -->

    <div class="login">
      <div class="login-triangle"></div>

      <h2 class="login-header">Log in</h2>
      <%- include('./inc/content/alerts') -%>
      <form class="login-container" method="post">
        <p><input type="email" placeholder="Email" name="email" value="<%=body.email%>"></p>
        <p><input type="password" placeholder="Password" name="password" value="<%=body.password%>"></p>
        <p><input type="submit" value="Log in"></p>
        <p><a href="/register">Cadastrar</a></p>

      </form>
    </div>

  </body>

</html>